@use "../utils/variables";

.full-width {
  float: left;
  width: 100%;

  &--blue {
    background: {
      color: variables.$color-blue-03;
    }
  }

  &--white {
    background: {
      color: variables.$color-black-10;
    }
  }

  &--grey {
    background: {
      color: variables.$color-black-09;
    }
  }

  &--black {
    background: {
      color: variables.$color-black-01;
    }

    color: variables.$color-white;
  }
}

.fill-height {
  min-height: calc(100vh - 95px);
}
