@use "../variables";

.cams {
  background: {
    color: variables.$color-dark0;
  }

  &__Header {
    background: {
      color: variables.$color-dark2;
    }
  }

  &__InfoLabel {
    color: variables.$color-light3;
  }

  &__Cam {
    border-color: variables.$color-light4;
  }

  &__Restriction {
    background-color: variables.$theme-blue;
    color: variables.$color-light0-soft;
    &--18plus {
      background-color: variables.$theme-red;
    }
  }
}
