@use "../variables";

.emojiPredict {
  &__Container {
    background-color: variables.$color-dark2;
    border-color: variables.$color-light4;
  }

  &__Header {
    background-color: variables.$color-dark4;
    border-color: variables.$color-light4;
  }

  &__Option {
    &:hover,
    &--selected {
      background-color: variables.$theme-blue;
    }
  }
}
