@use "../variables";

.modal {
  --bg-color: #{variables.$color-dark2};

  &__Header {
    background: {
      color: variables.$color-dark1;
    }
  }

  &__Footer {
    background: {
      color: variables.$color-dark2;
    }
  }

  &__SubText {
    color: variables.$color-light2;
  }

  &__Body,
  &__SubText {
    a:hover,
    a:focus {
      color: variables.$color-blue-04;
    }
  }
}

