@use "../variables";

.modal {
  --bg-color: #{variables.$color-dark2};

  &__Header {
    background: {
      color: variables.$color-dark4;
    }
  }

  &__Footer {
    background: {
      color: variables.$color-dark2;
    }
  }

  &__SubText {
    color: variables.$color-light4;
  }
}


