@use "sass:meta";
@use "../variables";

@use "sass:color";
$userListItemHeight: 30px;

.dark {
  @include meta.load-css('userList.dark');
}

.layout--horizontal {
  @include meta.load-css('userList/layoutHorizontal.scss');
}

.chat {
  &__UserList {
    $width: 200px;
    width: $width;
    height: 260px;
    padding: 0.25em;
    box-sizing: border-box;
    background: variables.$white;
    overflow-y: scroll;
    flex-shrink: 0;

    right: -$width;
    transition: 0.2s transform ease-out;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.25);
    touch-action: none;

    &.scroll-area {
      position: absolute;
      z-index: 1000;
    }

    &--open {
      transform: translateX(-$width);
    }

    @media screen and (min-width: variables.$bp-02) {
      right: auto;
      box-shadow: none;
      transform: none;

      &.scroll-area {
        position: static;
      }

      &--open {
        transform: none;
      }
    }

  }

  &__UserListItem {
    display: flex;
    position: relative;
    align-items: center;
    height: $userListItemHeight;
    cursor: pointer;

    & + & {
      border-top: 1px solid variables.$black-09;
    }

    &--disabled {
      color: variables.$black-05;
    }
  }
}

.userList {
  &__UserIcon {
    display: flex;
    align-items: center;
    padding: 0;
    padding-inline-end: 0.2em;
    font-size: 1.5em;

    &-op {
      font: {
        size: 1em;
      }
      color: variables.$yellow-03;

      text-shadow: 0 1px variables.$yellow-02;
    }

    &-role {
      font: {
        size: 1em;
      }

      text-shadow: 0 1px rgba(0, 0, 0, 0.5);

      &.red {
        color: variables.$theme-red;
        text-shadow: 0 1px color.adjust(variables.$theme-red, $lightness: -30%);
      }

      &.green {
        color: variables.$theme-green;
        text-shadow: 0 1px color.adjust(variables.$theme-green, $lightness: -30%);
      }

      &.yellow {
        color: variables.$theme-yellow;
        text-shadow: 0 1px color.adjust(variables.$theme-yellow, $lightness: -30%);
      }

      &.blue {
        color: variables.$theme-blue;
        text-shadow: 0 1px color.adjust(variables.$theme-blue, $lightness: -30%);
      }

      &.purple {
        color: variables.$theme-purple;
        text-shadow: 0 1px color.adjust(variables.$theme-purple, $lightness: -30%);
      }

      &.aqua {
        color: variables.$theme-aqua;
        text-shadow: 0 1px color.adjust(variables.$theme-aqua, $lightness: -30%);
      }

      &.orange {
        color: variables.$theme-orange;
        text-shadow: 0 1px color.adjust(variables.$theme-orange, $lightness: -30%);
      }

      &.grey {
        color: variables.$black-05;
        text-shadow: 0 1px color.adjust(variables.$black-05, $lightness: -30%);
      }

      &.greyalt {
        color: variables.$black-02;
        text-shadow: 0 1px color.adjust(variables.$black-02, $lightness: -30%);
      }

      &.redalt {
        color: variables.$theme-faded-red;
        text-shadow: 0 1px color.adjust(variables.$theme-faded-red, $lightness: -30%);
      }

      &.greenalt {
        color: variables.$theme-faded-green;
        text-shadow: 0 1px color.adjust(variables.$theme-faded-green, $lightness: -30%);
      }

      &.yellowalt {
        color: variables.$theme-faded-yellow;
        text-shadow: 0 1px color.adjust(variables.$theme-faded-yellow, $lightness: -30%);
      }

      &.bluealt {
        color: variables.$theme-faded-blue;
        text-shadow: 0 1px color.adjust(variables.$theme-faded-blue, $lightness: -30%);
      }

      &.purplealt {
        color: variables.$theme-faded-purple;
        text-shadow: 0 1px color.adjust(variables.$theme-faded-purple, $lightness: -30%);
      }

      &.aquaalt {
        color: variables.$theme-faded-aqua;
        text-shadow: 0 1px color.adjust(variables.$theme-faded-aqua, $lightness: -30%);
      }

      &.orangealt {
        color: variables.$theme-faded-orange;
        text-shadow: 0 1px color.adjust(variables.$theme-faded-orange, $lightness: -30%);
      }
    }

    &-broadcast {
      font: {
        size: 1.1em;
      }
    }

    &--color {
      width: 1em;
      height: 1em;
      background-color: currentColor;
      border-radius: 0.5em;
    }
  }

  &__UserIconType {

    &-guest {
      color: variables.$black-06;
    }

    &-supporter {
      color: variables.$red-01;
    }
  }

  &__UserIconImage {
    width: 24px;
    height: 24px;
  }

  &__UserHandle {
    flex-grow: 1;
    &-current {
      font-weight: 700;
    }
  }

  &__Action {
    height: 100%;
    padding: 0 0.5em;
    background: transparent;
    border: none;

    &:hover {
      background: variables.$black-08;
    }
  }
}
