@use "sass:color";
@use "../variables";

.layout--horizontal {
  .chat {
    &__UserList {
      border-inline-start-color: variables.$color-dark2;
    }
  }
}

.chat {
  &__UserList {
    background: {
      color: variables.$color-dark1;
    }
  }

  &__UserListItem {
    & + .chat__UserListItem {
      border-top-color: variables.$color-dark2;
    }
  }

}

.userList {
  &__UserIcon {
    &-role {
      &.redlt {
        color: variables.$theme-bright-red;
        text-shadow: 0 1px color.adjust(variables.$theme-bright-red, $lightness: -30%);
      }

      &.greenalt {
        color: variables.$theme-bright-green;
        text-shadow: 0 1px color.adjust(variables.$theme-bright-green, $lightness: -30%);
      }

      &.yellowalt {
        color: variables.$theme-bright-yellow;
        text-shadow: 0 1px color.adjust(variables.$theme-bright-yellow, $lightness: -30%);
      }

      &.bluealt {
        color: variables.$theme-bright-blue;
        text-shadow: 0 1px color.adjust(variables.$theme-bright-blue, $lightness: -30%);
      }

      &.purplealt {
        color: variables.$theme-bright-purple;
        text-shadow: 0 1px color.adjust(variables.$theme-bright-purple, $lightness: -30%);
      }

      &.aquaalt {
        color: variables.$theme-bright-aqua;
        text-shadow: 0 1px color.adjust(variables.$theme-bright-aqua, $lightness: -30%);
      }

      &.orangealt {
        color: variables.$theme-bright-orange;
        text-shadow: 0 1px color.adjust(variables.$theme-bright-orange, $lightness: -30%);
      }

      &.grey {
        color: variables.$black-07;
        text-shadow: 0 1px color.adjust(variables.$black-07, $lightness: -30%);
      }

      &.greyalt {
        color: variables.$black-09;
        text-shadow: 0 1px color.adjust(variables.$black-09, $lightness: -30%);
      }
    }
  }

  &__UserIconType {
    &-guest {
      color: variables.$color-light4;
    }
  }

  &__Action {
    &:hover {
      background-color: variables.$color-dark2;
    }
  }
}
