@use "../variables";

.youtube {
  &__Result {
    background-color: variables.$color-dark4;

    &:hover {
      background-color: variables.$color-dark3;
      border-color: variables.$theme-blue;
    }
  }
}
