@use "../utils/variables";

.figure {
  &__Set {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: variables.$bp-tablet) {
      flex-wrap: nowrap;
    }
  }

  &__Item {
    img {
      max-width: 100%;
    }
  }

  &__Caption {
    color: variables.$color-black-05;
    font: {
      size: 0.85em;
    }

    text-align: center;
  }
}
