@use "../utils/variables";

.mfa {
  &__BackupCodes {
    column-count: 4;
    background-color: variables.$color-white;
    text-transform: uppercase;

    & > span {
      display: block;
    }
  }

  &__CodeImage {
    text-align: center;

    & > img {
      background-color: variables.$color-white;
      border: 1px solid variables.$color-black-07;
      border-radius: 3px;
      overflow: hidden;
    }
  }
}
