@use "../utils/variables";

.pill {
  font: {
    size: 0.85em;
    weight: 700;
  }
  background-color: variables.$color-black-05;
  padding: 0 0.5em;
  border-radius: 1em;

  &--red {
    background-color: variables.$color-red-02;
    color: variables.$color-white;
  }

  &--blue {
    background-color: variables.$color-blue-02;
    color: variables.$color-white;
  }

  &--white {
    background-color: variables.$color-white;
    color: variables.$color-blue-02;
  }
}
