@use "../variables";

.badge {
  background-color: variables.$color-dark3;
  color: variables.$color-light0-soft;

  &--blue {
    background-color: variables.$theme-blue;
    color: variables.$color-light0-soft;
  }
}
