@use "sass:meta";
@use "../variables";

.dark {
  @include meta.load-css('badge.dark');
}

.badge {
  background-color: variables.$black-05;
  margin: {
    left: 0.5em;
  }
  padding: 0.1em 0.35em;
  font: {
    size: 0.75em;
    weight: 700;
  }
  text-transform: uppercase;
  color: variables.$white;
  border-radius: 3px;
  line-height: 1;

  &--blue {
    background-color: variables.$color-blue-02;
  }
}
