@use "../variables";

.dark .box {
  background: variables.$color-dark1;
  border-color: variables.$color-dark3;
}

.box {
	background: variables.$white;
	border: 1px solid variables.$black-09;
	border-radius: 3px;
}
