@use "../variables";

.input {
  color: variables.$black-08;
  border-color: variables.$color-dark3;
  background: {
    color: variables.$color-dark1;
  }

  &:focus {
    border-color: variables.$color-dark4;
  }
}
