@use "../variables";

.text {
  &-sub {
    font: {
      size: 1.2rem;
    }

    color: variables.$black-04;
  }

  &-red {
    color: variables.$red-01;
  }
}

.dark {
  .text {
    &-sub {
      color: variables.$color-light4;
    }

    &-red {
      display: inline-block;
      background-color: variables.$red-01;
      color: variables.$color-light0;
      border-radius: 2px;
      padding: 2px 4px;
    }
  }
}

.text-clamp-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
